
.form-container{
    grid-column: 2;
    border: 1px solid #222;
    // background-color: var(--clr2);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .title-filter{
        margin-top: 0;
    }
    .filter-form{
   
        flex-wrap: wrap;
        gap: 10px;
  
    }
   input{
   
        min-height: 30px;
        border: 2px solid lightblue;
        border-radius: 7px;
        text-indent: 20px;
        font-size: 1em;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.168627451);
    }
    .sort-container{
margin-top: 20px;
.title{
    margin-inline-end: .5em;
}
    }
}